*.class
/dist/
/nbproject/
ihms.properties
nbproject/project.properties
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties
Logs/logger.log
/build/
.DS_Store
/Logs/
build/classes/
